{% extends 'master.html' %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Gestión de Programas de Formación</h2>
       <a href="{% url 'programas:crear_programa' %}" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Nuevo Programa
        </a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Nivel</th>
                    <th>Modalidad</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for programa in programas %}
                <tr>
                    <td>{{ programa.codigo }}</td>
                    <td>{{ programa.nombre }}</td>
                    <td>{{ programa.get_nivel_formacion_display }}</td>
                    <td>{{ programa.get_modalidad_display }}</td>
                    <td>
                        <span class="badge {% if programa.estado == 'ACT' %}bg-success{% else %}bg-secondary{% endif %}">
                            {{ programa.get_estado_display }}
                        </span>
                    </td>
                    <td>
                    <a href="{% url 'programas:detalle_programa' programa.id %}" class="btn btn-outline-info btn-sm" title="Ver detalle">
                        <i class="bi bi-eye-fill"></i>
                    </a>

                    <a href="{% url 'programas:editar_programa' programa.id %}" class="btn btn-outline-primary btn-sm" title="Editar">
                        <i class="bi bi-pencil-square"></i>
                    </a>

                    <a href="{% url 'programas:eliminar_programa' programa.id %}" class="btn btn-outline-danger btn-sm" title="Eliminar">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">No hay programas registrados.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}